@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
:root{
    --background:#f5f5f7;
    --primary:#111111;
    --lowPrimary:rgba(0,0,0,0.5);
}
:root.dark{
    --background:#111111;
    --primary:#f5f5f7;
    --lowPrimary:rgba(245,245,247,0.5);
}
*{
    transition: all 1s;
    transform-origin: 50;
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Poppins;
}
#bg-color{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111111;
    clip-path: circle(0% at 50% 50%);
    z-index: -1;
}
.clock-conatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
.clock{
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50%;
}
#hour{
    background-color: var(--primary);
    width: 2px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%) rotate(0deg);
    transform-origin: bottom;
}
#minute{
    background-color: var(--primary);
    width: 2px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%) rotate(0deg);
    transform-origin: bottom;
}
#second{
    background-color: red;
    width: 2px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%) rotate(0deg);
    transform-origin: bottom;
}
.centre{
    border: 2px solid red;
    background-color: var(--primary);
    margin-top: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    transform-origin: center;
}
#time{
    text-align: center;
    font-size: 60px;
    margin: 0%;
    font-weight: 200;
    color: var(--primary);
}
#date-whole{
    text-align: center;
    text-transform: uppercase;
    color: var(--lowPrimary);
}
#date-value{
    background-color: var(--primary);
    color: var(--background);
    padding: 5px 10px;
    border-radius: 50%;
}
#theme{
    margin: 0 150px;
    width: 100px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: var(--primary);
    color: var(--background);
}